ul#dao_hang
    {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    }
li.dh
    {
        float:left;
    }
li.dh a:link,li.dh a:visited
{
display:block;
width:120px;
font-weight:bold;
color:#FFFFFF;
background-color:#bebebe;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}
li.dh a:hover,li.dh a:active
{
background-color:#cc0000;
}