<html>
  <head>
    {% if title %}
    <title>{{title}} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../static/css/my.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../static/js/my.js"></script>
  </head>
  <body>
    <div>接口测试管理平台</div>
    <div>
      <ul id="dao_hang">
        <li class="dh"><a href="#home">接口配置</a></li>
        <li class="dh"><a href="hh">接口运行</a></li>
        <li class="dh"><a href="#contact">历史结果</a></li>
        <li class="dh"><a href="#about">关于项目描述</a></li>
      </ul>
    </div>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>